[submodule "extern/CommonLibF4"]
	path = extern/CommonLibF4
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibF4
[submodule "extern/CommonLibF4VR"]
	path = extern/CommonLibF4VR
	url = https://github.com/rollingrock/CommonLibF4
